.container{
    background-color: darkslategrey;
}

.nav__link1{
    color: aliceblue;
    position: relative;
    left: 350px;
    top: -40px;
}

.nav__link2{
    color: aliceblue;
    position: relative;
    left: 500px;
    top: -56px;
}

.nav__link3{
    color: aliceblue;
    position: relative;
    left: 700px;
    top: -74px;
}

.nav__link4{
    color: aliceblue;
    position: relative;
    left: 1250px;
    top: -70px;
    
}

.logo{
    position: relative;
    left: 10px;
    top: 30px;
}

