.container{
    width: 90%;
    margin: auto;
}

.detail{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail__img{
    width: 50%;
}

.content{
    width: 100%;
}